<%= form_with(model: act, local: true) do |form| %>
  <% if act.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(act.errors.count, "error") %> prohibited this act from being saved:</h2>

      <ul>
        <% act.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :who %>
    <%= form.text_field :who %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :link %>
    <%= form.text_field :link %>
  </div>

  <div class="field">
    <%= form.label :when %>
    <%= form.date_select :when %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
